@page
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model ProductRecomendation.Pages.LandingPageModel
@{
    ViewData["Title"] = "Enseval Product Recommendation";
}

<style>
    .sidebar {
        display: none;
    }

    footer.sticky-footer {
        width: 100%;
    }

    .imgHover {
        cursor: pointer;
    }

    .content-wrapper {
        display: none;
    }
</style>

<style>

    /*--------------------------------------------------------------
            # Hero Section
            --------------------------------------------------------------*/

    .hero:before {
        content: "";
        background: url(/images/landingpage/hero-bg.png) top center no-repeat;
        background-size: contain;
        position: absolute;
        width: 2000px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: -1;
    }

    a:hover {
        color: #717ff5;
        text-decoration: none;
    }

    .hero {
        width: 100%;
        height: 80vh;
        /*  background: url(/images/landingpage/hero-bg.png) top center no-repeat;
              background-size: cover;*/
    }

        .hero h1 {
            margin: 0;
            font-size: 48px;
            font-weight: 700;
            color: #00ab41;
        }

        .hero h2 {
            color: #444444;
            margin: 15px 0 0 0;
            font-size: 26px;
        }



        .hero .btn-get-started {
            margin-top: 30px;
            line-height: 0;
            padding: 15px 40px;
            border-radius: 4px;
            transition: 0.5s;
            color: #fff;
            background: #5ced73;
            box-shadow: 0px 5px 30px rgba(131, 242, 143, 0.4);
        }

            .hero .btn-get-started span {
                font-family: "Nunito", sans-serif;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 1px;
            }

            .hero .btn-get-started i {
                margin-left: 5px;
                font-size: 18px;
                transition: 0.3s;
            }

            .hero .btn-get-started:hover i {
                transform: translateX(5px);
            }

        .hero .hero-img {
            text-align: right;
        }

    @@media (min-width: 1024px) {
        .hero {
            background-attachment: fixed;
        }
    }

    @@media (max-width: 991px) {
        .hero {
            height: auto;
            padding: 120px 0 60px 0;
        }

            .hero .hero-img {
                text-align: center;
                margin-top: 80px;
            }

                .hero .hero-img img {
                    width: 80%;
                }
    }

    @@media (max-width: 768px) {
        .hero {
            text-align: center;
        }

            .hero h1 {
                font-size: 32px;
            }

            .hero h2 {
                font-size: 24px;
            }

            .hero .hero-img img {
                width: 100%;
            }
    }

</style>


<!-- Icon Cards-->
<div class="container">
    <a href="#"><img class="d-block w-100" src="~/images/Iklan_Eno.svg" alt="First slide"></a>


</div>

<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Helping you buy the best product for your business</h1>
                <h4 data-aos="fade-up" data-aos-delay="400">We can help you to find the best product to buy based on your transaction history</h4>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-lg-start">
                        <a href="#recSys" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/images/SideMenu.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->





<div class="container" id="recSys">

    @if (TempData["MessageFailed"] != null)
    {
        <div class="alert alert-warning mt-2 alert-dismissible fade show" role="alert" id="alertFailedTemp">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="fas fa-fw fa-solid fa-exclamation-triangle"></i> @TempData["MessageFailed"]
        </div>

    }
    <div class="card-body">
        <form method="post">
            <h2 class="font-weight-bold my-3" data-aos="fade-up">Recommendation for you</h2>
            <div class="form-row align-items-end" data-aos="fade-up">
                <div class="form-group col-sm-3">
                    <label class="control-label" for="SubmissionDateFrom">Recommendation Date:</label>
                    <input id="searchDatePick" class="form-control w-100" type="text" placeholder="Choose Date" asp-for="@Model.recommendationDate" required autocomplete="off" />
                </div>
                <div class="form-group col-sm-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-success btn-light btn-block text-dark">Search</button>
                </div>

            </div>
        </form>
        <!--Card-->
        @if (Model.outRecommendationList != null)
        {




            <div class="table" data-aos="fade-up">

                <div class="float-right mb-3" id="btnExportId">
                    <a href="/LandingPage?q=@Model.recommendationDate&&a=@HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "username").Value" class="btn btn-primary text-black" target="_blank">Report Pdf</a>
                </div>

                <form method="post" asp-page-handler="ExportExcel" id="formExportExcel">
                    <div class="float-right mb-3 mr-2" id="btnExportId">
                        <input type="hidden" asp-for="@Model.recommendationDate" name="recDate" />
                        <input type="hidden" asp-for="@HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "username").Value" name="shipTo" />
                        <button type="submit" class="btn btn-success text-white" form="formExportExcel">Report Excel</button>
                    </div>
                </form>

                <table id="tableRec" class="table table-hover table-bordered mb-3" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="50px">No</th>
                            <th>Item Code</th>
                            <th>Item Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                            foreach (var item in Model.outRecommendationList)
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@item.item_code</td>
                                    <td>@item.item_desc</td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- card end-->

            <div class="table" data-aos="fade-up">
                <h2 class="font-weight-bold my-3">Transaction History:</h2>
                <h3>@Model.historyInfo</h3>
                <table id="tableHistory" class="table table-hover table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="50px">No</th>
                            <th>Transaction Date</th>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index2 = 1;
                            foreach (var item in Model.outTransactionHistoryList)
                            {
                                <tr>
                                    <td>@index2</td>
                                    <td>@item.TRX_DATE</td>
                                    <td>@item.ITEM_CODE</td>
                                    <td>@item.ITEM_NAME</td>
                                    <td class="text-right">@item.SALES_QTY</td>
                                    <td class="text-right">@item.GROSS_SALES_AMOUNT</td>
                                </tr>
                                index2++;
                            }
                        }
                    </tbody>
                </table>
            </div>


        }
        @if (TempData["NoData"].ToString() == "true")
        {
            <div class="w-100 d-flex justify-content-center" data-aos="fade-up">
                <img id="imgNoData" style="width:40%" src="~/images/no-data-fp.jpg">
            </div>

            <style>
                @@media screen and (max-width: 600px) {
                    #imgNoData {
                        min-width: 100%;
                    }
                }
            </style>

        }

    </div>
</div>


<script>

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });

    $(document).ready(function () {

        $("#searchDatePick").datepicker({
            format: "mm-yyyy",
            startView: "months",
            endDate: '+1m',
            minViewMode: "months",
            autoclose: true
        });

        $("#tableRec").DataTable({
            paging: false,
            info: false,
        });

        $("#tableHistory").DataTable({
        });

    });


</script>